/* ESTILIZAÇÕES GLOBAIS */
body {
  background-image: linear-gradient(130deg, #aac2d4, #dde7ee);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 1rem;
}

main,
form,
.input-container,
.btn-container {
  display: flex;
  flex-direction: column;
}

form,
.btn-actions-container {
  min-width: 45rem;
  border-radius: 1rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.5rem 0.4rem rgba(0, 0, 0, 0.1);
}

main {
  align-items: center;
  padding: 1.5rem;
  /* gap: 2rem; */
}

.title-h1 {
  margin-bottom: 2rem;
  font-size: 3.4rem;
  color: rgb(23, 23, 23);
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

form {
  padding: 3rem;
  gap: 2.5rem;
  margin-bottom: 0.8rem;
}

.input-container {
  width: 100%;
  gap: 0.5rem;

  label {
    display: block;
    color: rgb(39, 39, 39);
    font-size: 1.2rem;
  }

  input {
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 1rem;
  }

  input:focus {
    outline-color: rgba(45, 205, 205, 0.623);
  }

  input::placeholder {
    color: rgb(149, 150, 150);
  }
}

.btn-container {
  gap: 1rem;

  button {
    display: inline-block;
    padding: 0.8rem 3rem;
    cursor: pointer;
    border-style: none;
    border-radius: 1rem;
    transition: background-color 0.2s ease-in;
    font-weight: 600;
  }

  .btn-add,
  .btn-remove {
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
  }

  .btn-add {
    background-color: rgba(106, 184, 208, 0.632);
  }
  .btn-add:hover {
    background-color: rgb(47, 178, 218);
    color: #fff;
  }
  .btn-remove {
    background-color: rgba(205, 116, 116, 0.859);
  }
  .btn-remove:hover {
    background-color: rgb(209, 53, 53);
    color: #fff;
  }
}

.btn-actions-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
  margin-bottom: 2rem;

  button {
    cursor: pointer;
    border-style: none;
    border-radius: 1.2rem;
    padding: 0.5rem 0.9rem;
    background-color: #9ca1d877;
    width: 10rem;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
  }

  button:hover {
    color: #fff;
    background-color: #7178c8;
  }
}

table {
  width: 60rem;
  text-align: center;
  /* align-items: center; */
  border-collapse: collapse;
  background: linear-gradient(130deg, #9ca1d8, #7178c8);
  color: #fff;
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);

  th,
  td {
    line-height: 1.4;
    padding: 1.2rem;
  }

  td {
    border-top: 0.1rem solid rgba(220, 220, 220, 0.516);
  }

  thead {
    background: rgba(255, 255, 255, 0.45);
    color: rgb(7, 65, 104);
  }

  tr {
    border-radius: 1rem;
  }

  .td-item {
    display: flex;
    align-items: center;
    position: relative;
  }

  .btn-remove-item {
    font-size: 1.2rem;
    text-align: center;
    border: none;
    border-radius: 50%;
    color: rgb(209, 53, 53);
    background: none;
    cursor: pointer;
    position: absolute;
    right: 3rem;
  }

  .btn-remove-item:hover {
    font-weight: bold;
    color: rgb(255, 0, 0);
  }

 }
/* 
.display-none {
  display: none;
} */
