* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100svh;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
p,
a,
label,
li {
  font-size: 1.4rem;
}
