main,
form,
.input-container,
.btn-container {
  display: flex;
  flex-direction: column;
}

form,
ol {
  min-width: 30rem;
  border-radius: 1rem;
}

main {
  align-items: center;
  padding: 1.5rem;
  gap: 2rem;
}

form {
  align-items: center;
  background: linear-gradient(45deg, rgb(95, 143, 204), rgb(153, 204, 233));
  padding: 3rem;
  gap: 2.5rem;
}

.input-container {
  gap: 0.5rem;
}

label {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

input {
  padding: 0.5rem 1.8rem;
  border: none;
  border-radius: 1rem;
}

input:focus {
  outline-color: rgba(46, 168, 168, 0.623);
}

input::placeholder {
  color: rgb(194, 196, 196);
}

button {
  padding: 0.8rem 3rem;
  cursor: pointer;
  border-style: none;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in;
}

button:hover {
  background-color: rgb(94, 212, 212);
}

ol {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: rgb(220, 221, 221);
  padding: 3rem 5rem;

  p {
    text-align: center;
    margin-bottom: 2rem;
  }
}
