* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
} */

body {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 1rem;
}

button {
  width: max-content;
  padding: 5px 10px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
